
h1{
    color: aliceblue;
    font-family:Courier;
    font-style: italic;
    font-weight: 500;
    }
   
p{
        color: aliceblue;
        font-family:Courier;
        font-style: italic;
        font-weight: 500;
        font-size: large
        }